<%- include("header") -%> 
<form action="/signIn" method="post">
   <div class="form-floating mb-3 c-Div">  
      <p class="tex c-err">User Not Present 😥</p>
      <p class="tex c-err">Don't upset your TUMMY or Your TUMMY Will Upset YOU 😨</p>
   </div>
      <button class="btn btn-xl">Try Again</button>
</form>
<%- include("footer") -%> 