
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../public/css/script.js"></script>
    </body>
    <footer class="c-foot">Done By Coder OTAKUS</footer>
    <footer class="c-foot">Coder OTAKUS will DEBUG the World</footer>
    
</html>