<%- include("header") -%> 
    <%- include("navbar2") -%> 
    <form action="/done" method="post">
        <h1>Your Total Purchase is: <%= Total %> </h1>
        <p class="c-par">Thanks for the Purchase <i class="fa-regular fa-face-smile"></i> </p>
        <p class="c-par">Now your Tummy will feel astonished </p>
        <button class="btn btn-xl" >Done</button>
    </form>
<%- include("footer") -%> 