<nav class="navbar navbar-expand-lg c-navbar">
    <div class="container-fluid">
      <a class="navbar-brand c-navText" href="#">OTAKUMATO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item c-nav">
            <a class="nav-link c-navText" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item1 c-nav">
            <a class="nav-link c-navText" href="/cart"><i class="fa-solid fa-cart-shopping"></i> ShopingCart</a>
          </li>
          <li class="nav-item c-nav">
            <a class="nav-link c-navText" href="#"><i class="fa-solid fa-user"></i> Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>