<div class="base">
   <div class="menu">
      <div class="icon">
         <div class="bar"></div>
      </div>
   </div>
   <div class="icons">
      <i class="fa-solid fa-house-user" aria-hidden="true"></i>
      <i class="fa fa-cart-shopping" aria-hidden="true"></i>
      <i class="fa-solid fa-user" aria-hidden="true"></i>
   </div>
   <div class="section">
      <div class="cover1">
         <div class="cover2">
            <a class="content" href="/cart"></a>
         </div>
      </div>
   </div>
   <a class="section-static top" href="/home"></a>
   <a class="section-static bottom" href="/profile"></a>
</div>

<!-- partial -->
<!-- <script src='https://codepen.io/z-/pen/jvReOb/a8e37caf2a04602ea5815e5acedab458.js'></script> -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://codepen.io/z-/pen/XpJZQO/2677821722cd9e02c2c882a17c5b2072.js'></script>
<script src='https://codepen.io/z-/pen/0a1bedbb8ca05b9afd329264fca7b921.js'></script><script  src="./script.js"></script>
<script src="css/script.js"></script>