<%- include("header") -%> 
    <form action="/signingUp" method="post">
        <div class="row mb-3 c-Div">  
            <label class="tex animation" for="Fname">First Name</label>
            <input type="text" name="First_Name" class="form-control tex" id="Fname" required="required" placeholder="First Name">
        </div>
        <div class="row  mb-3 c-Div"> 
            <label class="tex animation" for="Lname">Last Name</label>
            <input type="text" name="Last_Name" class="form-control tex" id="Lname" required="required" placeholder="Last name">
        </div>
        <div class="row mb-3 c-Div">
            <label class="tex animation" for="phNo">Phone</label>
            <input type="text" name="Phone" class="form-control tex" id="phNo" required="required" placeholder="PhoneNumber">
        </div>
        <div class="row mb-3 c-Div">
            <label class="tex animation" for="Add">Address</label>
            <input type="text" name="add" class="form-control tex" id="Add" required="required" placeholder="Address">
        </div>
            <button class="btn btn-xl">Submit</button>
    </form>
    <form action="/signIn" method="post">
        <p class="c-par">Already Have An Account
        </p>
        <p class="c-par2">No Problemo. . . Make your GF Wait But Not your TUMMY ❤ </p>
        <button class="btn btn-xl">Sign In</button>
    </form>
<%- include("footer") -%> 