<%- include("header") -%> 
    <form action="/signingIn" method="post">
        <div class="form-floating mb-3 c-Div">
            <label class="lab" for="phNo">Phone Number</label>
            <input type="text" name="Phone" class="form-control tex" id="phNo" required="required" placeholder="PhoneNumber">
        </div>
        <button class="btn btn-xl">Submit</button>
    </form>
    <form action="/" method="post">
        <button class="btn btn-xl">Sign Up</button>
    </form>
<%- include("footer") -%> 